credentials.json
./BERN2
articles_bern2.dump
doc_processed.dump
kilt_titles_trie_dict.pkl
lang_title2wikidataID-normalized_with_redirect.pkl
__pycache__/trie.cpython-310.pyc
articles_bern2_linked.dump
